body{
    background-image:url(bis.png);
    background-repeat:repeat;
}
p{
    background-color: yellow;
    color: red;
    font-family: "Comic Sans MS"
}

p:hover{
    background-color:black;
       }
p.blood{
    background-color:red;
    color:black;
}
